* {
    margin: 0;
    padding: 0;
	font-family: lato;
}
}
/*barra de navegacion*/
.icon-user, .icon-video, .input-search, .categorias, .button-hamburguesa{
    margin-top: 10px;
}
.right {
    margin-left: 30px;
}
/*menu hamburguesa solo en mobile*/
.button-hamburguesa {
    width: 40px;
    height: 40px;
}
.lista-hamburguesa {
    list-style: none;
}
.lista-1:hover {
     background-color: lightblue;
}
.lista-1 a {
    text-decoration: none;
}