/*Fondo :#121924;
  Fondo Navbar:#09131A;
  hover:#1c9b77;
  color texto/ iconos:#FF2D56;
*/
* {
    margin: 0;
    padding: 0;
	font-family: lato;
}

img{
	width: 50%;
}

body{
    background-color: #121924;
}

/*barra de navegacion*/
.navbar-default{
    margin:0;
    border:0;
}
.icon-user, .icon-video, .input-search, .categorias, .button-hamburguesa{
    margin-top: 10px;
}
.right {
    margin-left: 30px;
}
/*menu hamburguesa solo en mobile*/
.button-hamburguesa {
    width: 40px;
    height: 40px;
}
.lista-hamburguesa {
    list-style: none;
}
.lista-1:hover {
     background-color: lightblue;
}
.lista-1 a {
    text-decoration: none;
}
.left-nav {
    margin-left: 20%;
}
.navbar{
    background-color: #09131A;
}
.navbar-default .navbar-nav>li>a{
    color: #FF2D56;
}
.navbar-default .navbar-nav>li>.cat{
    margin-top:5%;
    font-size: 140%;
}
.navbar-default .navbar-nav>li>.cat:hover{
    color: #1c9b77;
}
.logo img{
    width:16vh;
}
.search img{
    width: 6vh;
    margin-top: 4%;
}
.input_search{
    margin-top:1%;
}
.film_logo img{
    width: 9vh;
    margin-top: -24%;
}
