/*Fondo :#121924;
  Fondo Navbar:#09131A;
  hover:#1c9b77;
  color texto/ iconos:#FF2D56;
*/

* {
  margin: 0;
  padding: 0;
	font-family: lato;
}
.title-movie{
  color: #FF2D56;
}
.img-poster{
	margin-bottom: 4%;
}
/*parrafo no tienes cuenta*/
.parrafo-cuenta{
   color: white;
}
body{
  background-color: #121924;
}
/*ESTRUCTURA BOTÓN */
.btn{
  border:3px solid  #FF2D56;
  background-color: transparent;
}
.btn:hover{
  border:3px solid #1c9b77 ;
  background-color: #1c9b77;
}
/*splash*/

.fondosplash {
    background-color: #121924;
    z-index: 4;

}
/* detalle peliculas
 *  detalle de seccion inicio
*/
.icon-web{
  width: 5%;
}
.movie-details{
  background-image: url(../../assets/img/fondo-pelicula-star-wars.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.description-movie{
  text-align: justify;
}
.splash {
    top:0;
    left:0;
    bottom:0;
    width:100%;

}
/*login*/
.login {
  margin-top: 100px;
}


/*barra de navegacion*/
.navbar-default{
  margin:0;
  border:0;
}
.icon-user, .icon-video, .input-search, .categorias, .button-hamburguesa{
  margin-top: 10px;
}
.right {
  margin-left: 30px;
}

/*menu hamburguesa solo en mobile*/
.button-hamburguesa {
  width: 40px;
  height: 40px;
}
.lista-hamburguesa {
  list-style: none;
}
.lista-1:hover {
  background-color: lightblue;
}
.lista-1 a {
  text-decoration: none;
}

.left-nav {
  margin-left: 20%;
}
.navbar{
  background-color: #09131A;
}
.navbar-default .navbar-nav>li>a{
  color: #FF2D56;
}
.navbar-default .navbar-nav>li>.cat{
  margin-top:5%;
  font-size: 140%;
}
.navbar-default .navbar-nav>li>.cat:hover{
  color: #1c9b77;
}
.logo img{
  width:16vh;
}
.search img{
  width: 6vh;
  margin-top: 4%;
}
.input_search{
  margin-top:1%;
}
.film_logo img{
  width: 9vh;
}
.film_logo{
  background-color: transparent;
  border:none;
}
.film_logo:focus{
  outline: none;
}

/*PANTALLA 8 VANE*/
#indi_movies , #setting{
  display: none;
}
.indi_movies{
  text-align: center;
}
.description{
  color:white;
  text-align: center;
}
.description h5 a{
    color:#FF2D56;
}
.description h5 a:hover{
  font-size: 120%;
}
.photo img{
  border-radius: 5px;
}
.btn_film{
  text-align: center;
  position: relative;
  margin-top:-79vh;
}
.btn_film:focus{
}
.btn-primary:focus{
  border:3px solid  #FF2D56;
  background-color: transparent;
}
.cont_film{
  padding:0;
}
.movie_set{
  background-image: url(../img/movie_set.jpg);
  background-size: cover;
  height: 70vh;
  background-position: 25% 61%;

}
/* CARRUSEL PANTALLA 8*/
.carousel-control {
  left: -12px;
  height: 40px;
  width: 40px;
  border-radius: 23px 23px 23px 23px;
  margin-top: 90px;
}
.carousel-control.right , .carousel-control.left {
  right: -9vh;
  top: 7vh;
  background-image: none;
  color: #FF2D56;
  font-size: 327%;
}
.carousel-control.left{
  left: -9vh;
}
.carousel-control.right:hover , .carousel-control.left:hover{
  color: #1c9b77;
}
/* INDICADORES */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -19px;
  margin-right: -19px;

}
.carousel-indicators li {
  background: #cecece;
}
.carousel-indicators .active {
  background: #FF2D56;
}
.carrusel_film{
  margin-top: 7vh;
}

.carrusel_film2{
  margin-top: 10%;
}
/*MODAL ESTILOS */
.modal-title , .modal-body{
  text-align: left;
}
.modal-header , .modal-footer{
  background-color: #09131A;
}
.modal-header h4{
  color: #FF2D56;
}
.modal-footer .btn-default , .close span{
  color: white;
}
/*ajuste de botones de registro, premiun  */
.button-margin {
  margin-top: 40px;
}
.button-free {
  margin-left: 40px;
  padding-left: 35px;
  padding-right: 35px;
}
.button-premiun {
    margin-right: 40px;
}


/*Maite pagina (5 y 6) User*/
.user-description{
  margin:0;
}
#config-user{
  padding-top: 15%;
  margin-left: 7%;
  color: white;
}
.list-user, ul{
  list-style: none;
  padding-left: 0%;
}
.list-user li{
  float: left;
  margin-left: 18%;
  /*margin-top: 35%;*/
}
.date-user{
  border: 2px solid #FF2D56;
  padding: 5%;
  border-radius: 23px 23px 23px 23px;
  margin-top: 10%;
  margin-left: 15%;
  list-style: none;
  line-height: 250%;
  color: white;
}
.red-social{
  margin-top: 180%;
  padding-left: 20%;
  opacity: 0.6;
  filter: Alpha;
  background-color: #09131A;
  border-radius: 23px 23px 23px 23px;
}
.fa-share-alt{
  color: #FF2D56;
  font-size: 200%;
  margin-top: 40%;
}
.social-face{
margin-top: 10%;
background-image: url("../img/facebook-logo.png");
height: 6vh;
background-repeat: no-repeat;
}
.social-twtt{
  cursor: pointer;
  background-image: url("../img/twitter-logo.png");
  height: 6vh;
  background-repeat: no-repeat;
  margin-top: 10%;
}
.social-goo{
  cursor: pointer;
  background-image: url("../img/google-logo.png");
  height: 6vh;
  background-repeat: no-repeat;
  margin-top: 10%;
}
.fav-list{
  list-style: none;
  color: white;
}
.btn-color{
  background: transparent;
}
.list-btn{
  width: 180%;
  padding: 9%;
  color: white;
  font-size: 120%;
  border-radius: 6px;
  border:3px solid  #FF2D56;
  background-color: transparent;
}
.list-btn:hover{
  background: #1c9b77;
  border:3px solid #1c9b77 ;
}
.settings-btn{
  width: 150%;
  font-size: 120%;
  padding: 7%;
  color: white;
  border-radius: 6px;
  border:3px solid  #FF2D56;
  background-color: transparent;
}
.settings-btn:hover{
  background: #1c9b77;
  border:3px solid #1c9b77 ;
}
b{
  color:#FF2D56;
}


#movies img, #movie img{
  width:100%;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }
}
